@import './variables';

.p-tooltip {
  min-width: fit-content;

  .p-tooltip-text {
    white-space: nowrap;
    background-color: #38383a;
    color: #c9c9c9;
    font-size: 0.9rem;
  }
}

.p-dropdown {
  align-items: center;
  background-color: $btnBgColor;
  color: $btnColor;
  border: 1px solid $btnBorderColor;
  height: $btnHeight;
  border-radius: 0;
  user-select: none;

  &:not(.p-disabled):hover {
    border-color: $btnBorderColor;
    background-color: black;
  }

  &:not(.p-disabled).p-focus {
    box-shadow: none;
    border-color: $btnBorderColor;
  }

  .p-dropdown-label {
    color: $btnColor;
    font-size: 0.9rem;
  }
}

.p-dropdown-panel {
  font-size: 0.95rem;

  .p-dropdown-items {
    padding-top: 0;

    .p-dropdown-item-group {
      text-align: center;
      padding: 0.1rem 0.5rem;
      user-select: none;
    }

    .p-dropdown-item {
      padding: 0.3rem 0.5rem;

      &.p-highlight {
        background: #474747;
      }
    }
  }
}

.p-dialog {
  border: 0.1rem solid #2a2a2a;
  border-radius: 0;

  .p-dialog-header {
    border-radius: 0;
    background: $dialogBgColor;

    .p-dialog-title {
      white-space: nowrap;
      overflow: hidden;
      color: #d6d7d6;
    }
  }

  .p-dialog-content {
    border-radius: 0;
    background: $dialogBgColor;
    padding-bottom: 1.5rem;
  }

  .p-dialog-footer {
    border-radius: 0;
    background: $dialogBgColor;
  }
}

.p-toast {
  width: unset !important;
  max-width: 25rem;
  opacity: 0.98;

  .p-toast-message {
    .p-toast-icon-close {
      flex-shrink: 0;
      position: relative;
      top: -6px;
    }

    .p-toast-message-content {
      padding-right: 0.4rem;

      .only-content {
        align-self: center;
        flex-grow: 1;
        overflow-wrap: anywhere;
        max-height: 80vh;
      }
    }
  }
}

input.p-inputtext {
  border-radius: 0;
  background-color: $btnBgColor;
  color: $btnColor;
  border: 1px solid $btnBorderColor;
  height: $btnHeight;
  font-size: 0.85rem;
  padding: 0 0.5rem;

  &:enabled:hover {
    border-color: #525252;
  }

  &:enabled:focus {
    box-shadow: none;
    border-color: $btnBorderColor;
  }
}
