$appColorGreen: #30ff12;
$appColorYellow: yellow;

$btnHeight: 2.1rem;
$btnBgColor: #1c1c1c;
$btnColor: #c9c9c9;
$btnBorderColor: #373737;
$btnSelectedBgColor: $appColorYellow;

$dialogBgColor: #0b0b0b;
