<p-dialog [(visible)]="visible" [modal]="true" header="VISUAL KEY NFT" [resizable]="false">
  <div class="flex flex-col gap-y-2 items-center">
    <app-bit-set
      [bitCount]="pkBitCount"
      [gridCols]="pkCols"
      [bitSet]="token()"
      [bitCellSize]="bitCellSize()"
      [readOnly]="true"
      class="mt-1"
    />

    <div class="mt-1 flex flex-row flex-nowrap gap-1 w-full">
      <p-select
        [options]="regionChain"
        [ngModel]="selectedChainId()"
        (ngModelChange)="selectedChainId.set($event)"
        [group]="true"
        size="small"
        appendTo="body"
        placeholder="Select a chain"
        class="grow-1"
      >
        <ng-template #selectedItem let-selectedOption> Chain: {{ selectedOption.label }}</ng-template>
      </p-select>

      <p-button
        variant="outlined"
        severity="secondary"
        size="small"
        styleClass="w-9 h-9 leading-0 text-base select-none"
        (click)="openWallet()"
        pTooltip="Wallet"
        tooltipPosition="right"
        [showDelay]="500"
        [disabled]="walletOpening()"
      >
        <fa-icon
          [icon]="icons.faAddressCard"
          [ngClass]="{ 'text-green-500 dark:text-yellow-300': account()?.isConnected }"
        />
      </p-button>
    </div>

    @if (ownerLoading()) {
      <p-progressBar class="self-stretch" styleClass="h-[6px]" mode="indeterminate" color="#5b5b5b" />
    } @else {
      @if (owner() === undefined) {
        <div class="self-stretch flex flex-col gap-y-2">
          <p-button
            variant="outlined"
            severity="secondary"
            size="small"
            styleClass="w-full uppercase select-none"
            [disabled]="minting() || walletOpening() || priceLoading()"
            (click)="mint()"
          >
            @if (minting()) {
              <span>
                minting<span class="before:content-['+'] before:animate-[toggle-sign_500ms_linear_infinite]"></span>
              </span>
            } @else {
              <span>mint</span>
            }
          </p-button>

          @if (account()?.address !== undefined) {
            <div class="text-sm dark:text-neutral-400 whitespace-nowrap">
              Price:
              @if (displayPrice()) {
                {{ priceEther() }}
              } @else {
                <span class="before:content-['|'] before:animate-[rotate-symbol_400ms_linear_infinite]"></span>
              }
              {{ selectedCurrency() }}
            </div>
          }
        </div>
      } @else {
        <div class="self-stretch flex flex-col gap-y-3" [style.max-width.px]="tokenWidthPx()">
          <div
            class="self-stretch text-center p-1 font-bold uppercase select-none tracking-[0.3rem] text-[2rem] border-[#4ea0dc] text-[#ecf002] bg-[#085bb4] text-shadow-[0.1rem_0.1rem_red] overflow-hidden"
          >
            minted
          </div>
          <div class="flex flex-col gap-y-1 whitespace-nowrap overflow-hidden text-sm">
            <div class="overflow-hidden text-ellipsis">Chain: {{ ownerChainName() }}</div>
            <div class="overflow-hidden text-ellipsis">Owner: {{ owner()?.owner }}</div>
          </div>
        </div>
      }
    }
  </div>
</p-dialog>

<p-toast position="bottom-right" [baseZIndex]="5000" />
