.mint-button {
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  border: 0.15rem solid #373737;
  background: #1f1f1f;
  color: #b6b6b6;
  cursor: pointer;
  overflow: hidden;

  &[disabled] {
    cursor: default;
  }

  &:not([disabled]):hover,
  &.minting {
    border-color: #4ea0dc;
    background: #085bb4;
    color: #fff700;
    text-shadow: 0.1rem 0.1rem red;
  }
}

.minted-panel {
  letter-spacing: 0.3rem;
  font-size: 2rem;
  border-color: #4ea0dc;
  color: #ecf002;
  background: #085bb4;
  text-shadow: 0.1rem 0.1rem red;
  overflow: hidden;
}

.wallet-connected {
  color: #d7fe00;
}

@media (max-width: 255px) {
  .chain-label {
    display: none;
  }
}

.error-message {
  color: red;
  overflow: hidden;
  white-space: nowrap;
}

//#region Animation Classes
.pm-anim {
  &:before {
    animation: plus-minus 500ms linear infinite;
    content: '+';
  }
}

.spinner-anim {
  &:before {
    animation: spinner 400ms linear infinite;
    content: '|';
  }
}
//#endregion

//#region Animations
@keyframes plus-minus {
  0% {
    content: '+';
  }
  100% {
    content: '-';
  }
}

@keyframes spinner {
  0% {
    content: '|';
  }
  33% {
    content: '/';
  }
  66% {
    content: '—';
  }
  100% {
    content: '\\';
  }
}
//#endregion
