<div class="flex flex-col items-center h-screen overflow-auto m-0 px-2 py-2 lg:px-8 lg:py-5">
  <div class="flex flex-row flex-nowrap gap-x-5">
    <app-bit-set
      [bitCount]="pkBitCount"
      [gridCols]="pkCols"
      [(bitSet)]="pk"
      [bitCellSize]="bitCellSize()"
      [readOnly]="pkReadOnly()"
      [mouseEnterStrategy]="mouseEnterStrategy()"
      [mouseMoveDisabled]="mouseMoveDisabled()"
    ></app-bit-set>
    <app-bit-set
      [class.hidden]="!addressVisible()"
      [class.grayscale]="!ethAccount().isValid"
      [bitCount]="addressBitCount"
      [gridCols]="addressCols"
      [bitSet]="address()"
      [bitCellSize]="bitCellSize()"
      [mouseEnterStrategy]="mouseEnterStrategy()"
      [readOnly]="true"
    ></app-bit-set>
  </div>
  <div class="mt-2">
    <app-bit-set-controller
      [bitCount]="pkBitCount"
      [(bitSet)]="pk"
      [keyRangeStart]="pkMin"
      [keyRangeEnd]="pkMax"
      [(mouseEnterStrategy)]="mouseEnterStrategy"
      [(mouseMoveDisabled)]="mouseMoveDisabled"
      (longRandomActiveChange)="pkReadOnly.set($event)"
      [randomBitSetGenInterval]="randomBitSetGenInterval()"
    ></app-bit-set-controller>
  </div>
  <div class="self-stretch mt-2">
    <app-eth-info [ethAccount]="ethAccount()"></app-eth-info>
  </div>
  <div class="grow self-stretch mt-1">
    <app-eth-addr-history [ethAccount]="ethAccount()" [(networkEnabled)]="networkEnabled"></app-eth-addr-history>
  </div>
</div>
