<div class="inline-flex flex-wrap justify-content-center gap-1">
  <button
    (click)="clearAll()"
    class="app-icon-btn"
    pTooltip="Clear all"
    tooltipPosition="bottom"
    [showDelay]="700"
    [disabled]="longRandomActive"
  >
    <fa-icon [icon]="icons.faSquare" [style.color]="'#ff0040'"></fa-icon>
  </button>
  <button
    (click)="setAll()"
    class="app-icon-btn"
    pTooltip="Set all"
    tooltipPosition="bottom"
    [showDelay]="700"
    [disabled]="longRandomActive"
  >
    <fa-icon [icon]="icons.faSquare" [style.color]="'#30ff12'"></fa-icon>
  </button>
  <button
    appLongPress
    (shortClick)="random()"
    (press)="longRandom()"
    [threshold]="250"
    [class.selected]="longRandomActive"
    class="app-icon-btn"
  >
    <fa-icon [icon]="icons.faShuffle"></fa-icon>
  </button>
  <button
    appLongPress
    [intervalEmit]="true"
    (shortClick)="rotateLeft()"
    (pressStarted)="rotateLeftLongStarted()"
    (press)="rotateLeftLong()"
    (pressEnded)="rotateLeftLongEnded()"
    [threshold]="150"
    [interval]="50"
    class="app-icon-btn"
    [disabled]="longRandomActive"
  >
    <fa-icon [icon]="icons.faAnglesLeft"></fa-icon>
  </button>
  <button
    appLongPress
    [intervalEmit]="true"
    (shortClick)="rotateRight()"
    (pressStarted)="rotateRightLongStarted()"
    (press)="rotateRightLong()"
    (pressEnded)="rotateRightLongEnded()"
    [threshold]="150"
    [interval]="50"
    class="app-icon-btn"
    [disabled]="longRandomActive"
  >
    <fa-icon [icon]="icons.faAnglesRight"></fa-icon>
  </button>
  <button
    (click)="invert()"
    class="app-icon-btn"
    pTooltip="Invert"
    tooltipPosition="bottom"
    [showDelay]="700"
    [disabled]="longRandomActive"
  >
    <fa-icon [icon]="icons.faRepeat"></fa-icon>
  </button>
  <button
    (click)="openLoadBitSetDialog()"
    class="app-icon-btn"
    pTooltip="Load custom key"
    tooltipPosition="bottom"
    [showDelay]="700"
    [disabled]="longRandomActive"
  >
    <fa-icon [icon]="icons.faKey"></fa-icon>
  </button>
  <div class="inline-flex flex-nowrap">
    <button
      *ngFor="let item of mouseEnterStrategies"
      [class.selected]="item.value === mouseEnterStrategy"
      [class.cursor-default-hover]="item.value === mouseEnterStrategy"
      (click)="changeMouseEnterStrategy(item.value)"
      class="app-icon-btn"
      [pTooltip]="item.tooltip"
      tooltipPosition="bottom"
      [showDelay]="700"
    >
      <fa-icon [icon]="item.icon"></fa-icon>
    </button>
  </div>
  <button
    *ngIf="primaryInput === 'mouse'"
    (click)="lock()"
    class="app-icon-btn"
    [class.selected]="mouseMoveDisabled"
    pTooltip="Disable state change moving the mouse"
    tooltipPosition="bottom"
    [showDelay]="700"
  >
    <fa-icon [icon]="icons.faLock"></fa-icon>
  </button>
</div>

<app-load-bit-set-modal
  *ngIf="loadBitSetDialogVisible"
  (bitSetChange)="bitSet = $event"
  [(visible)]="loadBitSetDialogVisible"
  [min]="keyRangeStart"
  [max]="keyRangeEnd"
  [gaLabel]="gaLabel"
></app-load-bit-set-modal>
